body{
    background-color:#afa99c;
    margin-top: 50px;
    margin-right: 50px;
    border-width: 2cm;
    border-left: 2cm;
    border-right: 2cm;
    border-top: 2cm;
    border-bottom: 2cm;
    border-style:groove;  
}

.titulo{
    font-size:xx-large;
    text-align:center;
    width:3ocm;
    background-color:#2c2421;
    font-family:'Balsamiq Sans';
}
h1{
    color:white;
   text-align: center;
   padding:40px;
   font: size 30px;
   background-color:#2c2421;
  

}
.h2{
    color:black;
   text-align: center;
   padding:40px;
   font-size:30px;
}
.texto{
color:black;
text-align:justify;
margin-left: 2cm;
margin-right: 2cm;
font-size: 17px;
}

.esboço1{
 width: 900px; 
margin-left: 2cm;
margin-right: 2cm;
}
#links{
margin-left: 2cm;
margin-right: 2cm;
text-align: center;
margin: 30px;
display:inline-flex;
padding:15px;
}
textarea{
    margin-right: 8cm;
    margin-left: 9cm;
    padding:30px;
    padding-right: 190px;
    background-color:cornsilk;
    color: black; 
}
h4{
    text-align: center;
    font-size: 15px;
}

#caixadetexto{
    color:red;
    border: black;
    width:350px;
    text-align: center;
    padding-right: 300px;
    padding-left:300px ;
}
form{
    text-align: center;
}
#subtitulo{
    text-align: center;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif


}
footer{
    text-align: center;
    font-size:medium;
    background-color:#2c2421;
    color:white;
}